{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>No-Hitters for {{ team.name }}</h2>
    
    <div class="row">
        <div class="col-md-6">
            <h3>No-Hitters Thrown By {{ team.name }}</h3>
            <div class="list-group">
                {% for no_hitter in no_hitters if no_hitter.home_team_id == team.id %}
                <div class="list-group-item">
                    <h5>{{ no_hitter.date.strftime('%B %d, %Y') }}</h5>
                    <p>
                        {{ team.name }} {{ no_hitter.home_score }} - {{ no_hitter.away_team.name }} {{ no_hitter.away_score }}
                        {% if no_hitter.is_perfect_game %}
                        <span class="badge bg-success">Perfect Game</span>
                        {% endif %}
                    </p>
                    <p>Pitchers:</p>
                    <ul>
                        {% for pitcher in no_hitter.pitchers %}
                        <li>{{ pitcher.pitcher.name }} ({{ pitcher.innings_pitched }} IP, {{ pitcher.strikeouts }} K)</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
        
        <div class="col-md-6">
            <h3>No-Hitters Thrown Against {{ team.name }}</h3>
            <div class="list-group">
                {% for no_hitter in no_hitters if no_hitter.away_team_id == team.id %}
                <div class="list-group-item">
                    <h5>{{ no_hitter.date.strftime('%B %d, %Y') }}</h5>
                    <p>
                        {{ no_hitter.home_team.name }} {{ no_hitter.home_score }} - {{ team.name }} {{ no_hitter.away_score }}
                        {% if no_hitter.is_perfect_game %}
                        <span class="badge bg-success">Perfect Game</span>
                        {% endif %}
                    </p>
                    <p>Pitchers:</p>
                    <ul>
                        {% for pitcher in no_hitter.pitchers %}
                        <li>{{ pitcher.pitcher.name }} ({{ pitcher.innings_pitched }} IP, {{ pitcher.strikeouts }} K)</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %} 